header {
    background-color: rgb(27 25 60 / 48%);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* opacity: 60%; */
    position: sticky;
    top: 0px;
    backdrop-filter: blur(20px);
}

.logo a{
    text-decoration: none;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li { 
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/light-rain-reason-official-wallpaper-genshin.jpg);
    background-size: cover; /* Hiển thị hình ảnh mà không bị biến dạng */
    background-repeat: no-repeat; /* Ngăn chặn lặp lại hình ảnh */
    background-attachment: fixed; /* Giữ hình ảnh ở vị trí cố định khi cuộn trang */
}

.product-detail-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    backdrop-filter: blur(20px);
}

.product-image {
    flex: 1;
    max-width: 400px;
}

.product-image img {
    width: 100%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.product-details {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    
}

h2 {
    color: #fff;
}
p{
    color: #fff;
}

.price {
    font-size: 1.5em;
    color: #e44d26;
    margin-bottom: 10px;
}

.options-form {
    margin-top: 20px;
    /* text-align: center; */
}


.highlight-button {
    background-color: #fff;
    color: #333;
    padding: 8px 12px; /* Thay đổi giá trị này để kiểm soát khoảng trắng xung quanh văn bản */
    border: 2px solid #3498db;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-in-out;
}

/* Đảm bảo rằng nút sẽ co lại theo độ dài của chữ */
.width-auto {
    width: auto;
    display: inline-block;
}

.highlight-button:hover, .highlight-button:focus {
    background-color: #3498db;
    color: #fff;
}



.buy-button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.buy-button:hover {
    background-color: #2980b9;
}

.product-description {
    padding: 20px;
    box-sizing: border-box;
    max-width: 1200px;
    /* background-color: rgba(255, 255, 255, 0.8);*/ /*Màu nền với độ trong suốt */
    border-radius: 8px;
    margin-top: 20px;
    backdrop-filter: blur(20px);
    margin: 0 auto;
}

.product-description h3 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.product-description p {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-align: justify; /* Canh đều văn bản */
}

